* {
    margin:0;
    padding:0;
    border:0;
    list-style:none;
    box-sizing: border-box;
    font-family: Verdana, "Geneva", sans-serif;
}

a {
    text-decoration:none;
    color:inherit;
    outline:none;
}

.header__turquoise {
    background:#AEEEEE;
}

.turquoise__share {
    padding:15px 15px 13px 0;
    width:540px;
    margin:auto;
}

.turquoise__share-item {
    display: inline-block;
    margin-right:5px;
}

.turquoise__purple {
    background:#9898f9;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

.turquoise__purple-container {
    margin:auto;
    width:640px;
}

.turquoise__purple-logo {
    width:350px;
    display:block;
    margin:auto;
}

.turquoise__nav {
    margin:20px 0;
    width:640px;
}

.purple__nav-item {
    padding: 10px 0 0 15px;
    font-size: 1.3em;
}

.purple__nav-item:not(:first-child) {
    border-top:2px solid lightgrey;
}

.purple__nav-item:last-child {
    border-bottom: 2px solid lightgrey;
}

.dropdown {
    height:15px;
}

.nav__item-menushow-book, .nav__item-menushow-destinations {
    margin-left:-15px;
}

.menushow__book-item, .menushow__destinations-item {
    display:block;
    width:640px;
    background:silver;
    padding: 10px 0 10px 50px;
}

.menushow__book-item:not(:last-child), .menushow__destinations-item:not(:last-child) {
}

.menushow__book-item:hover, .menushow__destinations-item:hover {
    background:white;
    color:red;
}

.nav__item-menuhide-book, .nav__item-menuhide-destinations {
    display:none;
}

.carouselsection {
    background:#AEEEEE;
    padding:20px 0 10px 0;
    border-bottom:1px solid black;
}

.carouselsection__carousel {
    margin:auto;
    overflow: hidden;
    height:245px;
    width:640px;
}

.carousel__slide {
    height:245px;
}

.chevroncarousel {
    z-index:999;
    background-repeat:no-repeat;
    height:45px;
    width:45px;
    position:absolute;
    cursor:pointer;
    margin-top:105px;
}

.chevroncarouselleft {
    background-image: url("../assets/2.png");
}

.chevroncarouselright {
    background-image: url("../assets/2.png");
    background-position: -45px 0px;
    margin-left:595px;
}

.carouselsection__indicators {
    width:640px;
    text-align:center;
    margin:20px auto;
    margin-bottom:0;
}

.carouselsection__indicators-img {
    background-image:url("../assets/1.png");
    background-repeat:no-repeat;
    height:30px;
    width:30px;
    display: inline-block;
}

.carouselsection__indicators-img:hover {
    background-position:0 -30px;
    cursor:pointer;
}

.section {
    width:640px;
    margin:auto;
}

.section__article {
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
    width:640px;
    margin:30px 0;
}

.titre__purple {
    background:#9898f9;
    width:640px;
    height:150px;
    color:white;
    font-weight: bold;
    font-size:1.5em;
}

.section__article-img {
    margin:15px;
    float:left;
}

.article__title {
    display: block;
    vertical-align: center;
    line-height: 35px;
    padding-top:45px;
    padding-right:5px;
}

.article__text {
    margin-top:15px;
    color:grey;
    font-size:1em;
}

.article__more {
    font-size:0.8em;
    color:red;
}

.destinations {
    width:640px;
    margin:auto;
}

.destinations__h2 {
    border-bottom:1px solid darkgrey;
    padding:15px;
    font-weight: normal;
}

.destinations__countries {
    display: inline-block;
    margin: 20px 5px;
    width:640px;
}

.destinations__flags {
    display:block;
    padding:5px;
    border:1px solid darkgrey;
    border-radius:4px;
}

.destinations__brazil, .destinations__Algeria {
    display:none;
}

.destinations__countryname {
    font-weight: bold;
    font-size: 1.3em;
    display: block;
    margin-bottom:30px;
}

.footer__turquoise {
    background:#AEEEEE;
    border-top:1px solid black;
}

.footer__up {
    width:640px;
    margin:auto;
}

.footer__section {
    display: inline-block;
    margin-top:45px;
    width:640px;
    vertical-align: top;
    font-size:0.8em;
    line-height:20px;
}

.footer__title {
    border-bottom:1px solid darkgrey;
    margin-bottom:20px;
    padding-bottom:15px;
    font-weight: normal;
    font-size: 1.8em;
}

.footer__section-travel {
    width:640px;
}

.footer__whyus-img {
    display: inline;
    width:100px;
}

.footer__whyus-text {
    display:inline-block;
    vertical-align:top;
    line-height:25px;
    font-size: 1.1em;
    width:530px;
}

.footer__section:nth-child(1), .footer__section:nth-child(2) {
    padding-bottom:40px;
}

.footer__section-travel {
    margin-top:0;
    margin-bottom:40px;
}

.footer__subscribe {
    display: inline-block;
    margin-top:15px;
    font-size:1.3em;
    color:white;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    padding:8px 15px;
    background-image: linear-gradient(to left bottom, #3A9503, #008c00);
    border:1px solid black;
    border-radius:7px;
}

.footer__purple {
    border-top:1px solid black;
    background:#9898f9;
}

.footer__down-section {
    width:640px;
    margin:auto;
    text-align:left;
    font-size:0.8em;
}

.footer__nav-item {
    display: inline-block;
    margin:25px 15px 25px 0;
    font-weight: bold;
}

.footer__copyright {
    color:darkslategrey;
    padding-bottom:40px;
    display: block;
}
